@use "../../base/variables" as *;

.container-topbar {
  height: 70px;
  border-bottom: 1px solid #f3f3f3;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $white;
  > .content-title {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    > img {
      height: 80%;
      border-radius: 50%;
    }
    > .title {
      font-size: 0.875rem;
      font-weight: 600;
      color: $main-green;
      font-family: "Poppins", sans-serif;
      font-style: italic;
    }
  }
  > .container-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    > .link {
      font-size: 0.875rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 0.3s ease all;
      &:hover {
        opacity: 0.6;
      }
      &::after {
        content: "";
        width: 1px;
        height: 10px;
        background-color: #bebebe;
        top: 0;
        margin-left: 10px;
      }
    }
  }
}
